@model RNN.Models.ViewModels.Forms.CreateArticle
@using RNN.Models.ViewModels.Containers

@{
    ViewData["Title"] = "Create Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

<script>
    tinymce.init({
        selector: 'textarea',
        plugins: ['link', 'code']
    });
</script>

<form asp-action="OnCreate" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-12">
            <h2>Write your content</h2>

            <input type="submit" value="Continue" class="btn btn-default submit-button" />
        </div>
    </div>

    <div class="row row-equal opinion-header-row">
        <div class="col-xs-12 col-md-8 middle-column">
            <header>
                <input asp-for="HeadLine" class="edit-mode-headline-input" placeholder="Headline" />
                <input asp-for="Paragraph" class="edit-mode-paragraph-input" placeholder="Subheading" />
            </header>
        </div>
        <div class="d-none d-sm-none d-md-block col-md-4 opinion-page-side-header">
            <input type="text" list="topics" id="PrimaryTopic" name="PrimaryTopic" class="edit-mode-topic-input" placeholder="Pick the topic" />
            <datalist id="topics">
                @foreach (var topic in ViewData["TopicDataList"] as IEnumerable<TopicSelectItem>)
                {
                    <option value="@topic.Name" />
                }
            </datalist>
            <section></section>
            <section></section>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-8 middle-column">
            <article>
                <p class="source">Sourced from <input asp-for="Url" class="edit-mode-url-input" /></p>

                <div class="row image-block">
                    <div class="col-sm-3">
                        <span>Pick the image for this article.</span>
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="Img" class="edit-mode-img-input" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <textarea id="Body" name="Body"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        @*<div id="disqus_thread"></div>*@
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <div class="row side-block">
                <div class="col-sm-12">
                    <mark><span>Topics</span></mark>

                    <div class="inner">
                        <div class="topic">Example</div>
                    </div>
                </div>
            </div>

            @*<div class="row side-block">
                    <div class="col-sm-12">
                        <mark><span>Enjoy our content?</span></mark>

                        <div class="inner">
                            <p>We strive to provide a common-sense perspective of today's current events. If you, like us, love straight, unbiased news, please consider donating.</p>
                        </div>
                    </div>
                </div>*@

            @*<div class="row side-block">
                    <div class="col-sm-12">
                        <mark><span>Spread the word</span></mark>

                        <div class="inner">
                        </div>
                    </div>
                </div>*@

            @*@if (Model.Reccomendations.Any())
                {
                    <div class="row side-block">

                        <div class="col-sm-12">
                            <div class="text-block">
                                <mark><span>More like this</span></mark>
                            </div>
                        </div>

                        @foreach (var r in Model.Reccomendations)
                        {
                            @await Component.InvokeAsync(typeof(ReccomendationBlockViewComponent), new { component = r })
                        }
                    </div>
                }*@
        </div>
    </div>
</form>
