<!--
    post view
-->
@model RNN.Models.ViewModels.ViewComponents.HorizontalSmallBlockViewComponent

<div class="post">
    <span class="post-tag">@Model.Topic</span><span class="post-span-divider">/</span><a href="@Model.Url"><span class="post-title">@Model.HeadLine</span></a>
</div>