@fontFamily: 'Merriweather', serif;
@color: #FC7416;

/* subjec titles */
.subject-list {
    text-align: center;
}

.subject-list ul {
    margin-bottom: 0;
}

.subject-list li {
    display: inline-block;
    float: none;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.subject-list li span {
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: @fontFamily;
}

    .subject-list li span:hover {
        color: #FC7416;
    }

.subject-list li:hover {
    cursor: pointer;
    
}

.subjects-block {
    border-top: 1px solid black;
    border-bottom: 2px solid black;
}

.featured-section{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid darkgray;
}

/*************/
.subject-section {
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}
/***/

/*** posts ***/
.post {
    margin-bottom: 5px;
}

.post-tag {
    color: #FC7416;
    font-size: 18px;
    font-weight: bolder;
}

.post-title {
    font-size: 18px;
    color: black;
}

.post-span-divider {
    font-size: 20px;
    padding-right: 2px;
    color: #FC7416;
    display: inline-block;
    transform: scale(1.6);
}

.post-title:hover {
    color: #FC7416;
}

.post-tag:hover {
    cursor: pointer;
}

/* featured editorial */
.editorial-row {
    margin-bottom: 10px;
}

.editorial-column {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid darkgray;
}

.prefix {
    border-bottom: 1px solid @color;
    font-style: italic;
    color: @color;
    margin-bottom: 5px;
    font-size: 18px;
    border-bottom: 1px solid @color;
    font-style: italic;
    line-height: 1;
}

.editorial-column > .prefix span {
}

.editorial-left-column {
    padding-right: 5px;
}

.editorial-right-column {
    padding-left: 5px;
    /*padding-right: 5px;*/
}

.editorial-box {
    background-color: #eff5f5;
}

.editorial-box:hover {
    background-color: #e0ebeb;
    cursor: pointer;
}

.featured-editorial-title {
    font-size: 24px;
    color: black;
    font-style: italic;
    font-family: @fontFamily;
}

.featured-editorial-paragrah {
    font-size: 16px;
    font-family: @fontFamily;
    margin-bottom: 5px;
    display: block;
}

.featured-editorial-body {
    font-size: 18px;
    margin-top: 15px;
}

.featured-editorial-img {
    width: 100%;
    height: 100%;
    margin-right: 15px;
}

.subject-sub-title {
    font-size: 20px;
    font-family: @fontFamily;
}

.text-block {
    /*text-align:center;*/
    margin-bottom: 5px;
}

/* opinion */
.opinion-row {
    margin-bottom: 5px;
}

.opinion-column {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid darkgray;
}

.opinion {
    background-color: #eff5f5;
}

.opinion:hover {
    background-color: #e0ebeb;
    cursor: pointer;
}

.opinion > header {
    margin-bottom: 20px;
    padding: 5px;
}

.opinion > header > span {
    font-size: 18px;
    color: @color;
    font-family: @fontFamily;
}

.opinion > img {
    width: 100%;
}

.opinion > section > p {
    font-size: 14px;
    font-family: @fontFamily;
    color: #000000;
    margin: 0;
    padding: 5px;
}

.opinion > section {
    display: block;
}

.headlines {
    font-size: 24px;
    font-style: italic;
    font-family: @fontFamily;
}

/***********/

