@media (min-width: 576px) {
  .post > span,
  .post > a > span {
    font-size: 16px;
  }
  .horizontal-large-block header {
    font-size: 20px;
  }
  .horizontal-block header {
    font-size: 16px;
  }
  .vertical-block header {
    font-size: 16px;
  }
  .prefix {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  /*.post > span, .post > a > span {
        font-size: 16px;
    }*/
  .vertical-block header {
    font-size: 20px;
  }
  .vertical-narrow-block header {
    font-size: 18px;
  }
  .horizontal-large-block header {
    font-size: 22px;
  }
  .horizontal-block header {
    font-size: 18px;
  }
  /*.prefix {
        font-size: 16px;
    }*/
  .left-column {
    padding-right: 5px;
  }
  .right-column {
    padding-left: 5px;
  }
}
@media (min-width: 992px) {
  /*.post > span, .post > a > span {
        font-size: 18px;
    }

    .vertical-block header {
        font-size: 18px;
    }

    .horizontal-large-block header {
        font-size: 24px;
    }

    .horizontal-block header {
        font-size: 18px;
    }

    .prefix {
        font-size: 18px;
    }

    .grouping-column {
        padding-left: 10px;
        padding-right: 10px;
    }*/
  .post > span,
  .post > a > span {
    font-size: 18px;
  }
  .horizontal-large-block header {
    font-size: 24px;
  }
  .vertical-block header {
    font-size: 24px;
  }
  .vertical-narrow-block header {
    font-size: 22px;
  }
  .horizontal-block header {
    font-size: 20px;
  }
  .prefix {
    font-size: 18px;
  }
  .headlines {
    font-size: 18px;
  }
  .grouping-column {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1200px) {
  /*.post > span, .post > a > span {
        font-size: 18px;
    }

    .horizontal-large-block header {
        font-size: 24px;
    }

    .vertical-block header {
        font-size: 24px;
    }

    .vertical-narrow-block header {
        font-size: 20px;
    }

    .horizontal-block header {
        font-size: 20px;
    }

    .prefix {
        font-size: 18px;
    }

    .headlines {
        font-size: 18px;
    }

    .grouping-column {
        padding-left: 10px;
        padding-right: 10px;
    }*/
}
/* subjec titles */
.subject-list {
  text-align: center;
}
.subject-list ul {
  margin-bottom: 0;
}
.subject-list li {
  display: inline-block;
  float: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.subject-list li span {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Merriweather', serif;
}
.subject-list li span:hover {
  color: #FC7416;
}
.subject-list li:hover {
  cursor: pointer;
}
.subjects-block {
  border-top: 1px solid black;
  border-bottom: 2px solid black;
}
.featured-section {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid darkgray;
}
/*************/
.subject-section {
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
}
/***/
.post-tag {
  color: #FC7416;
  font-weight: bolder;
  margin-right: 2px;
}
.post-tag:hover {
  cursor: pointer;
}
.post-span-divider {
  padding-left: 1px;
  padding-right: 2px;
  color: #FC7416;
  display: inline-block;
  transform: scale(1.6);
}
/*** posts ***/
.post {
  margin-bottom: 5px;
}
.post > a > span {
  color: #000000;
}
.post > a > span:hover {
  color: #FC7416;
}
.block-border {
  border-left: 1px solid darkgray;
}
.horizontal-large-block-row {
  margin-bottom: 10px;
}
.horizontal-large-block-column {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
.prefix {
  border-bottom: 1px solid #d75f0f;
  font-style: italic;
  font-weight: normal;
  color: #d75f0f;
  margin-bottom: 5px;
  line-height: 1;
}
.horizontal-large-block-left-column {
  padding-right: 5px;
}
.horizontal-large-block-right-column {
  padding-left: 5px;
}
.horizontal-large-block {
  background-color: white;
}
.horizontal-large-block:hover {
  background-color: #e0ebeb;
  cursor: pointer;
}
.horizontal-large-block img {
  width: 100%;
  margin-right: 15px;
}
.horizontal-large-block header {
  color: black;
  font-style: italic;
  font-family: 'Merriweather', serif;
  padding-top: 5px;
}
.horizontal-large-block section {
  font-size: 14px;
  font-family: 'Merriweather', serif;
  margin-bottom: 5px;
  display: block;
  color: #000000;
}
.subject-sub-title {
  font-size: 20px;
  font-family: 'Merriweather', serif;
}
.text-block {
  margin-bottom: 5px;
}
/* opinion */
/*.vertical-block-row {
    margin-bottom: 5px;
}*/
.vertical-block-column {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
.vertical-block {
  background-color: white;
}
.vertical-block:hover {
  background-color: #dae0e0;
  cursor: pointer;
}
.vertical-block > header {
  padding: 5px;
  color: #d75f0f;
}
.vertical-block > header > span {
  font-family: 'Merriweather', serif;
}
.vertical-block > img {
  width: 100%;
}
/***********/
.vertical-narrow-block-column {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
.vertical-narrow-block {
  background-color: white;
}
.vertical-narrow-block:hover {
  background-color: #dae0e0;
  cursor: pointer;
}
.vertical-narrow-block > header {
  padding: 5px;
  color: #d75f0f;
}
.vertical-narrow-block > header > span {
  font-family: 'Merriweather', serif;
}
.vertical-narrow-block > img {
  width: 100%;
}
/***********/
.horizontal-block {
  background-color: white;
}
.horizontal-block:hover {
  background-color: #e0ebeb;
  cursor: pointer;
}
.horizontal-block-row {
  margin-bottom: 10px;
}
.horizontal-block-column {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
.horizontal-block img {
  width: 100%;
}
.horizontal-block header {
  color: black;
  font-family: 'Merriweather', serif;
  padding-top: 5px;
  font-style: italic;
}
/*******/
.highlight {
  font-size: 20px;
  background-color: yellow;
}
mark {
  background-color: yellow;
  font-size: 16px;
  font-family: 'Merriweather', serif;
  margin-bottom: 5px;
  display: inline-block;
  /*width: 100%;*/
  padding-left: 5px;
  padding-right: 5px;
  /*padding-top: 2px;
    padding-bottom: 2px;*/
}
.seperator {
  border-bottom: 1px solid #d75f0f;
}
.grouping-title {
  margin-bottom: 5px;
}
.headlines {
  color: #d75f0f;
  display: inline-block;
}
.discussion {
  float: right;
  font-size: 16px;
}
.discussion :hover {
  cursor: pointer;
}
.categories {
  text-align: center;
  margin-top: 15px;
}
.categories > a > span {
  margin-bottom: 8px;
  display: block;
  font-size: 22px;
  color: black;
}
.categories > a > span:hover {
  background-color: #d75f0f;
  color: white;
}