<!--
    post view
-->
@*@model RNN.Models.ViewModels.ViewComponents.PostViewComponent

<div class="post">
    @foreach (var topic in Model.Topics) {
        <span class="post-tag">@topic</span>
    }
    <span class="post-span-divider">/</span><a href="@Model.Url"><span class="post-title">@Model.Title</span></a>
</div>*@