@model IEnumerable<RNN.Models.ViewModels.ViewComponents.RowViewComponent>
@using RNN.Models.ViewModels.ViewComponents

@foreach (var row in Model) {
    <div class="row">
       @foreach(var column in row.Columns) {
            <div class="col-md-@column.Width">
                @if (column.Rows != null) {
                    @await Component.InvokeAsync(typeof(RowViewComponent), new { rows = column.Rows })
                }
                else {
                <div class="row">
                    @foreach (var component in column.Components) {
                        @await Component.InvokeAsync(component.GetType(), new { component = component })
                    }
                </div>
                }
            </div>
        }
    </div>
}
