@model RNN.Models.ViewModels.Identity.Register

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-sm-8">
        <h2>Contribute</h2>

        <p><i>Renegade News</i> is a brand new platform commited to free speech and delivering <mark>real news</mark> on <mark>important issues</mark>.</p>

        <p>
            This platform is open for independent minded people with
            unique takes on issues ranging from the economy to immigration.
        </p>

        <p>
            If you're passionate about current events & politics and want
            to give your take on important issues, this is the place for you.
        </p>

        <p>
            Create a writer's account to start.
        </p>


        <p></p>
    </div>
    <div class="col-md-4">
        <form method="post">
            <h4>Create a writer account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DisplayName">Author Name</label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>
