<!--
    opinion view
-->
@model RNN.Models.ViewModels.ViewComponents.OpinionViewComponent

<div class="row opinion-row">
    <div class="col-sm-12 opinion-column">
        <div class="prefix">Opinion</div>
        <a asp-controller="Opinions" asp-action="Index" asp-route-id="@Model.Id">
            <div class="opinion">
                <img src="~/images/uploads/@Model.Img" alt="opinion" />
                <header>
                    @foreach (var topic in Model.Topics) {
                        <span class="post-tag">@topic</span>
                    }
                    <span class="post-span-divider">/</span><span>@Model.Title</span>
                </header>
                <section><p>@Model.Paragraph</p></section>
            </div>
        </a>
    </div>
</div>