@model RNN.Models.ViewModels.ViewComponents.ReccomendationBlockViewComponent

<div class="col-xs-4 col-md-12 reccomendation-block-column">
    <a asp-route="display" asp-route-slug="@Model.Slug">
        <div class="reccomendation-block">
            <picture>
                <source srcset="~/images/uploads/@Model.Img-tiny.WebP" type="image/webp">
                <img loading="lazy" src="~/images/uploads/@Model.Img-tiny.Jpg" alt="reccomendation to article">
            </picture>
            
            <header><span>@Model.HeadLine</span></header>
        </div>
    </a>
</div>