@model RNN.Models.ViewModels.ViewComponents.ReccomendationBlockViewComponent

<div class="col-xs-4 col-md-12 vertical-block-column">
    <a asp-route="display" asp-route-slug="@Model.Slug">
        <div class="vertical-block">
            <img class="article-img" src="~/images/uploads/@Model.Img-tiny.WebP" alt="reccomendation to article">
            <header><span>@Model.HeadLine</span></header>
        </div>
    </a>
</div>