
@model RNN.Models.ViewModels.ViewComponents.GroupingViewComponent
@using RNN.Models.ViewModels.ViewComponents

<div class="row featured-section">
    <div class="col-sm-12">
        @await Component.InvokeAsync(typeof(RowViewComponent), new { rows = Model.Grid })
    </div>
</div>






