@model RNN.Models.ViewModels.ViewComponents.VerticalBlockViewComponent

<div class="col-sm-12 vertical-block-column @(Model.HasBorder ? "block-border" : "")">
    <mark><span>@Model.Topic</span></mark>
    <div class="seperator"></div>

    <a asp-route="display" asp-route-slug="@Model.Slug">
        <div class="vertical-block">
            <picture>
                <source media="(min-width: 992px)" srcset="~/images/uploads/@Model.Img-medium.WebP">
                <img class="article-img" src="~/images/uploads/@Model.Img-tiny.WebP" alt="">
            </picture>
            <header><span>@Model.HeadLine</span></header>
        </div>
    </a>
</div>
