@model RNN.Models.Opinion

<div class="row row-equal opinion-header-row">
    <div class="col-sm-3 opinion-page-side-header">
        <h3>Opinion</h3>
        <section></section>
        <section></section>
    </div>
    <div class="col-sm-9 opinion-page-header">
        <div class="flex-container">
            <h3>@Model.Title</h3>
            <p>@Model.Paragraph</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 opinion-page-author">
        <span>@Model.Author.Name</span>
    </div>
    <div class="col-sm-6 opinion-page-body">      
        <img class="opinion-page-img" src="~/images/uploads/@Model.Img" />
        <p class="drop-cap">@Model.Body</p>
    </div>
    <div class="col-sm-3">

    </div>
</div>
