<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RNN</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/global.min.css" />
        <link rel="stylesheet" href="~/css/@ViewData["Controller"]" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="~/css/global.min.css" />
        <link rel="stylesheet" href="~/css/@ViewData["Controller"]" />
    </environment>

    <!-- custom fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
   
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="row top-row">
            <div class="col-sm-12">
                <a href="#"><span>Contribute</span></a>
            </div>
        </div>
    </div>
    <div class="container outer-box">
        <div class="row row-equal">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-6">
                <a asp-controller="Home" asp-action="Index">
                    <div class="banner">
                        <img src="~/images/banner/R.png">
                        <span>Straight. Real. News.</span>
                    </div>
                </a>
            </div>
            @*<div class="col-sm-3 contribute-box">
                <a href="#"><span>+Contribute</span></a>
            </div>*@
        </div>

        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap-4.4.1-dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
