<div class="row footer">
    <div class="col-sm-3 footer-column d-none d-sm-block">
        <img class="footer-logo" src="~/images/banner/R.png" alt="site footer banner">
    </div>
    <div class="col-sm-6 centre-column footer-column">
        <a class="footer-link" href="/about/">About us</a>
        <a class="footer-link" href="/privacy/">Privacy policy</a>
        <a class="footer-link" href="/contact/">Contact us</a>
    </div>
    <div class="col-sm-3 footer-column d-none d-sm-block">
    </div>
</div>