@model RNN.Models.Message

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
</script>

<h1>Contact Us</h1>
<br />

<p><i>Renegade News</i> is a brand new startup commited to delivering <mark>real news</mark> on <mark>important issues</mark>.</p>

<p>To contact us for tips or general enquieries, use the form below.</p>

<p>We're looking forward to hearing from you!</p>

<form method="post" data-ajax="true" asp-action="OnPost" asp-controller="Contact" data-ajax-method="post" data-ajax-complete="completed">
    <div class="row">
        <div class="col-sm-3"><b>Your name</b></div>
        <div class="col-sm-9"><input class="text-input" type="text" name="name" /><br></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><b>Contact e-mail</b></div>
        <div class="col-sm-9"><input class="text-input" type="text" name="email" /><br></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><b>Write your message*</b></div>
        <div class="col-sm-9"><textarea rows="5" class="text-input" name="Text"></textarea><br></div>
    </div>
    <p>*These fields are required</p>
    <input type="submit" />
</form>

@section scripts {
    <script src="~/lib/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        completed = function (xhr) {
            alert('Message sent!');
        };
    </script>
}