@model RNN.Models.ViewModels.Pages.HomeViewModel
@using RNN.Models.ViewModels.ViewComponents

<div class="row trending-container-row">
    <div class="col-sm-12 trending-container-column">
        <div class="trending-container">
            @foreach (var subject in Model.Trending) {
                <a asp-route="topiclist" asp-route-topicId="@subject.Id"><span>@subject.Name</span></a>
            }
        </div>

    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @foreach (var grouping in Model.Groupings) {
            @await Component.InvokeAsync(typeof(GroupingViewComponent), new { component = grouping })
        }
    </div>
</div>

