@model RNN.Models.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row subjects-block">
    <div class="col-sm-12">
        <ul class="subject-list">
            @foreach (var subject in Model.Trending)
            {
                <li><a asp-controller="Home" asp-action="Index" asp-route-id="@subject.Id"><span>@subject.Name</span></a></li>
            }
        </ul>
    </div>
</div>

@foreach (var grouping in Model.Groupings)
{
    @await Component.InvokeAsync("Grouping", new { component = grouping })
}