@model RNN.Models.ViewModels.Pages.HomeViewModel
@using RNN.Models.ViewModels.ViewComponents

<div class="row trending-container-row">
    <div class="col-sm-12 trending-container-column">
        <div class="trending-container">
            @foreach (var subject in Model.Trending)
            {
                <a asp-route="topiclist" asp-route-topicId="@subject.Id"><span>@subject.Name</span></a>
            }
        </div>

    </div>
</div>

<div id="groupings">
    @await Component.InvokeAsync(typeof(GroupingViewComponent), new { component = Model.Grouping })  
</div>

<script defer>
    // headline articles offset
    var offset = 5;
    var loading = false;

    (function () {
        window.onload = function () {
            window.onscroll = function () {
                if (window.scrollY + window.innerHeight >= document.body.scrollHeight - 130) {
                    if (!this.loading) {
                        this.loading = true;

                        append("/home/load/" + this.offset, "groupings", function () {
                            offset += 6;
                            loading = false;
                        });
                    }
                }
            }
        }
    })();
</script>
