@model RNN.Models.ViewModels.IndexViewModel
@using RNN.Models.ViewModels.ViewComponents

@{
    ViewData["Title"] = "Home Page";
}

<div class="row subjects-block">
    <div class="col-sm-12">
        <ul class="subject-list">
            @foreach (var subject in Model.Trending)
            {
                <li><a asp-controller="Home" asp-action="Index" asp-route-id="@subject.Id"><span>@subject.Name</span></a></li>
            }
        </ul>
    </div>      
</div>

<div class="row">
    @*<div class="col-sm-2 categories">
        @foreach (var category in Model.Categories)
        {
            <a asp-route="category" asp-route-category="@category.Name"><span class="category">@category.Name</span></a>
        }
    </div>*@
    @*<div class="col-md-1"></div>*@
    <div class="col-sm-12">
        @foreach (var grouping in Model.Groupings)
        {
            @await Component.InvokeAsync(typeof(GroupingViewComponent), new { component = grouping })
        }
    </div>
    @*<div class="col-md-1"></div>*@
</div>

